body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: url("images/kitchen.jpg") no-repeat center transparent;
  background-size: cover;
  flex-grow: 2;
}

.box-shadow {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
}

.title {
  font-family: 'Bebas Neue', cursive;
}

.title img {
  max-height: 3.5em;
}

.title h2 {
  font-size: 2.2em;
  letter-spacing: 3px;
}

.bob-container {
  margin: auto;
  max-width: 20em;
  position: relative;
}

.tap {
  max-width: 3em;
  position: absolute;
  /* top: 7%;
  left: 5%; */
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#bob-pic {
  cursor: pointer;
  max-width: 20em;
}

.revenue {
  background-color: rgb(160, 166, 173);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  margin: auto;
  max-width: 10em;
}

.spatula-icon {
  width: 1.1em;
}

#hire-employee img {
  width: 1.1em;
}

#multiplier-img .employee {
  max-width: 10em;
  max-height: 10em;;
  display: none;
}

.burger {
  position: relative;
  max-width: 20em;
  margin: auto;
}

.burger-meat {
  max-width: 2em;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateX(-50%);
  display: none;
}

@media only screen and (max-width: 767px) {
  #bob-pic, .bob-container {
    max-width: 14.5em;
  }

  .tap {
    max-width: 2.5em;
  }

  #multiplier-img .employee {
    max-width: 6em;
    max-height: 8em;
  }

}

@media only screen and (max-width: 481px) {
  .burger-meat {
    left: 42%;
  }
}

@media only screen and (max-width: 361px) {
  #bob-pic, .bob-container {
    max-width: 12em;
  }

  .tap {
    max-width: 2.2em;
  }

  #multiplier-img .employee {
    max-width: 5em;
    max-height: 7em;
  }

}


button {
  height: 100%;
}

.instructions p {
  background-color: rgb(219, 219, 219);
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 2px 2px 4px black;
  font-family: 'Bebas Neue', cursive;
}

.hamburger {
  padding-left: 2px;
  max-width: 1em;
}