body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: url("images/kitchen.jpg") no-repeat center transparent;
  background-size: cover;
  flex-grow: 2;
}

.box-shadow {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
}

.title {
  background-color: lightslategray;
  font-family: 'Bebas Neue', cursive;
}

.title img {
  max-height: 3.5em;
}

.title h2 {
  font-size: 2.2em;
  letter-spacing: 3px;
}

.bob-burger {
  position: relative;
  max-width: 20em;
  margin: auto;
}

#bob-pic {
  cursor: pointer;
  max-width: 20em;
}

#burger-pic {
  max-width: 4em;
  position: absolute;
  top: 0;
  left: 0;
}

.revenue {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  margin: auto;
  width: 10em;
}

#upgrade-spatula img {
  width: 1.1em;
}

#hire-employee img {
  width: 1.1em;
}

#multiplier-img img {
  max-width: 10em;
  max-height: 10em;;
  /* display: none; */
}

@media only screen and (max-width: 767px) {
  #bob-pic {
    max-width: 14.5em;
  }

  #multiplier-img img {
    max-width: 8em;
  }
}

button {
  height: 100%;
}