body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 2;
}

.bob-burger {
  position: relative;
  max-width: 20em;
  margin: auto;
}

#bob-pic {
  max-width: 20em;
}

#burger-pic {
  max-width: 4.5em;
  position: absolute;
  top: 0;
  left: 0;
}

#multiplier-img img {
  max-width: 10em;
  /* display: none; */
}

@media only screen and (max-width: 767px) {
  #bob-pic {
    max-width: 14.5em;
  }

  #multiplier-img img {
    max-width: 8em;
  }
}

button {
  height: 100%;
}